body{
    margin-top:20px;
    background:#eee;
}

.sear{
    text-decoration: none;
}
.sear:hover{
    text-decoration:underline;
}

.btn{
    width: 7.5em;
    height: 2.5em;
    background-color: #f6fbff;
    border-radius: 1.5625em;
    margin-left: 0.1875em;
    font-size: 0.8125em;
}
