<section style="margin: 50px;" dir="rtl">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container ">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-11 col-lg-7 col-xl-8">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h1 class="text text-center mb-5" style="font-family: 'Nanum Myeongjo', serif;font-size: 34px;">
                  تفاصيل الملف الشخصي</h1>
  
                <form>
                    <div class="row mb-4">
                      <div class="col" style="display:none;">
                        <div class="form-outline">
                          <input type="text" id="form6Example1" formControlName="id" value="id" class="form-control" />
                          <label class="form-label" for="form6Example1">id</label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <label class="form-label" for="form6Example1">الاسم بالكامل</label>
                          <input type="text" id="form6Example1" formControlName="name"  class="form-control"  />
                       
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <label class="form-label" for="form6Example2">المسمى الوظيفى</label>
                          <input type="text" id="form6Example2" formControlName="title"  class="form-control" />
                        </div>
                      </div>
                    <!-- Message input -->
                    
                    <div class="form-outline mb-4" >
                      <label class="form-label" for="form6Example7">نبده عنى</label>
                      <textarea class="form-control" formControlName="description"  id="form6Example7" rows="4"></textarea>
                  </div>
                    <!-- Text input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form6Example4">تاريخ العمل</label>
                      <input type="text" id="form6Example4" formControlName="workHistory"  class="form-control" />
                    </div>
                  
                    <!-- Text input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form6Example4">العنوان</label>
                      <input type="text" id="form6Example4" formControlName="address"class="form-control" />
                    </div>
                  
                    <div class="row mb-4">
                        <div class="col">
                          <div class="form-outline">
                            <label class="form-label" for="form6Example1">القيمه الماليه المتوقعه</label>
                            <input type="number" id="form6Example1" formControlName="fixedSalary"  class="form-control" />
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-outline">
                          </div>
                        </div>
                      </div>
                  
                    <!-- Cilent  input -->

                    <!-- education  input -->
                    <div class="form-outline mb-4" >
                      <label class="form-label" for="form6Example7">المستوي التعليمي</label>
                      <input type="text" id="form6Example7" formControlName="titleEdu"  class="form-control" />
                    </div>
                    

                    <div class="row mb-4" >
                      <div class="col" >
                        <label for="datetimepickerInline" class="form-label">من</label>
                          <div class="form-outline datetimepicker"  data-mdb-inline="true" >
                            <input type="date" formControlName="from"  class="form-control" id="datetimepickerInline" />
                          </div>
                      </div>
                      <div class="col" >
                        <label for="datetimepickerInline" class="form-label">الى</label>
                        <div class="form-outline datetimepicker" data-mdb-inline="true" >
                          <input type="date" formControlName="to"  class="form-control" id="datepickerInline" />
                        </div>

                      </div>
                    </div> 

                    <!-- Skill  input -->
                  <ng-container  formArrayName="nameskill">
                    <div style="display: flex;justify-content:space-between;">
                      <label class="form-label" style="margin-top:20px;">المهارات</label>   
                      <div style="display:flex;justify-content: end;margin-top: 10px;">
                        <input type="button" class="btn bt" 
                        style="width:50px;height:50px;border-radius: 50px;background-color:white;color:black;font-size:20px;border:3px solid black" value="+">
                      </div>
                    </div>
                      <div class="form-outline mb-4" *ngFor="let item of skill; let i=index"  >
                        <label class="form-label"  >Skills {{i+1}}</label>
                          <textarea class="form-control" [formControlName]="i"  rows="4"></textarea>
                      </div>
                  </ng-container>
                  <hr>
                    <!-- languge  input -->
                    <ng-container  formArrayName="namelanguge">
                      <div style="display: flex;justify-content:space-between;">
                        <label class="form-label" style="margin-top:20px;">اللغات</label> 
                        <div style="display:flex;justify-content: end;margin-top: 10px;">
                          <input type="button" class="btn bt" 
                          style="width:50px;height:50px;border-radius: 50px;background-color:white;color:black;font-size:20px;border:3px solid black" value="+">
                        </div>
                      </div>
                      <div class="form-outline mb-4" *ngFor="let item of languge; let i=index"  >
                        <label class="form-label"  >Languges {{i+1}}</label>
                          <textarea class="form-control" [formControlName]="i"  rows="4"></textarea>
                      </div>
                  </ng-container>

                    <div  class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-block mb-4" style="width:40%;height:40px;border-radius: 25px;background-color: #404c68;color:white;font-size:16px">
                          حفظ التعديلات</button>
                    </div>  
                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>