<div class="jobs-container  p-5" style="height: 90vh;">
    <div class="row m-3" >
      <div class=" tabs">
        <span style="margin-right: 10px;"></span>
        <a  data-test="saved-jobs-tab" aria-current="page" class="up-tab-btn px-20 mr-0 tab-link" style="color: black; border:3px solid #404c68; padding: 10px 20px; border-radius: 20px;">الوظائف المحفوظه </a>
       </div>
    </div>
    <div class="row diff-display" style="margin-top: 20px; ">
      <nav id="sidebar" class="col-md-4 pt-5">
        <a  href="#" data-bs-toggle="collapse" data-bs-target="#asider"> التصنيف بواسطه<i class="fa-solid fa-chevron-down icon"  style="margin-right:7px;"></i></a>
        <div class="pb-5 " id="asider">
          
  
          <br>
          <a  href="#" data-bs-toggle="collapse" data-bs-target="#demo1">نوع الوظيفه <i class="fa-solid fa-chevron-down icon"  style="margin-left: 130px;margin-bottom: 15px;"></i></a>
  
          <br>
       <br>
       <div id="demo1" class="collapse show">
      
        <form>
          <div class="multiselect">
            <div class="selectBox" onclick="showCheckboxes1()">
              <select>
                <option>اختر نوع للوظيفه</option>
              </select>
              <div class="overSelect"></div>
            </div>
            <div id="checkboxes1">
              <div class="container">
                <div class=" mt-2 mb-2">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <input type="checkbox"  name="list_name" value="m1"
                          id="selectAllCategory"/> <label for="selectAllCategory"><strong style="margin-right: 5px;">Select/ Unselect All</strong></label>
                        </li>
                      </ul>
                      <ul class="list-group">
                        <li class="list-group-item"  *ngFor="let item of categories">
                          <input type="checkbox"  name="list_name" value="{{item.id}}" id="category{{item.id}}"
                         />
                          <label style="margin-right: 5px;" for="category{{item.id}}">{{item.name}}</label>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                    </div>
                  </div>
                </div>
               </div>  
            </div>
          </div>
        </form>
    
       </div>
       <br>
       <hr>
       <br>
          <a  href="#" data-bs-toggle="collapse" data-bs-target="#demo"> نوع طريقه الدفع  <i class="fa-solid fa-chevron-down icon"  style="margin-left: 130px;"></i></a>
  
          <br>
          <br>
      
          <div id="demo" class="collapse show">
            <div class="container">
             <div class="">
               <div class="row">
                 <div class="col-md-10">
                   <ul class="list-group">
                     <li class="list-group-item">
                       <input type="radio"  name="list_name" value="m1"
                         id="selectHourly"/> <label for="selectHourly"><strong style="margin-right: 10px;">العمل بالساعه</strong></label>
                         
                     </li>
                     <li class="list-group-item">
                       <input type="radio"  name="list_name" value="m2"
                        id="selectFixedPrice"/> <label for="selectFixedPrice"><strong style="margin-right: 10px;">القيمه الماليه المتوقعه</strong></label>
                     </li>
                   </ul>
                
                 </div>
               </div>
             </div>
            </div> 
            </div>
            
  
      
       <br>
       <hr>
       <br>
       
       <a  href="#" data-bs-toggle="collapse" data-bs-target="#demo2">موقع العميل <i class="fa-solid fa-chevron-down icon"  style="margin-left: 130px;"></i></a>
       <br>
       <br>
       <div id="demo2" class="collapse show">
        <!-- <form> -->
           <div class="multiselect"> 
            <div class="selectBox" onclick="showCheckboxes2()">
              <select>
                <option>اختر موقع</option>
              </select>
              <div class="overSelect"></div>
            </div>
             <div id="checkboxes2"> 
               <div class="container">
                <div class="mt-3 mb-3">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <input type="checkbox"  name="list_name" value="m1"
                         id="selectAllLocation"/> <label for="selectAllLocation"><strong style="margin-right: 5px;">Select/ Unselect All</strong></label>
                        </li>
                      </ul>
                      <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of locations">
                          <input type="checkbox"  name="list_name" value="{{item.id}}" id="location{{item.id}}"
                            />
                          <label style="margin-right: 5px;" for="location{{item.id}}">{{item.name}}</label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
               </div> 
             </div> 
           </div> 
        <!-- </form> -->
        </div> 
        </div>
       </nav>
  
       <div class="col-md-8">
        <div class="">
         
          <div class="border border-grey rounded">
        
  
          <div class="row">
            <div class="col-12" >
            
  
              <div class="row pt-5" >
                 <div class="col-9 mx-3">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="قم بعمل البحث عن وظيفه هنا">
                    <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" style="background-color:#404c68;">
                    <i class="fa fa-search "></i>
                    </button>
        
                    </div> 
                  </div>
                </div>
                
                 <div class="col-2" >
                  <button type="button" class="btn  btn-rounded" style="color:#404c68; ; border-color: #404c68;; border-width: 2px;">حفظ البحث</button>
                </div>
              </div>
               <br>
               <br>
              <div class="row m-3" >
                <div class="row" >
                </div>
              </div>
          </div>
        </div>
        </div>
        </div>
    
  
  
  
        <!--Display all Jobs-->
            <ng-template #thenBlock>
              <div class="card" style="border: none;">
                <div class="card-body" >
                  <div class="row">
                  <h2 class="card-title col-10 mt-2"  style="cursor: pointer;" ><b></b> </h2>
                  <button id="btnJob" type="button"  class="btnHeart btn-floating col-2 " >
                    <!-- data-mdb-ripple-color="dark" -->
                    
                   <!--  <i  class="fa-solid fa-heart"  id="{{'heart'+j.id+ id}}" style="color:#404c68;"></i>-->
                  <!--[style.backgroundColor]="checkSavedJob? 'blue': 'transparent'"-->
                  <ng-container ></ng-container>
                  <ng-template #green>
                    <i  class="fa-solid fa-heart"   style="color:rgb(42, 175, 42);"></i>
                  </ng-template>
                  <ng-template #red>
                    <i  class="fa-solid fa-heart"  style="color:#404c68;"></i>
                  </ng-template>
                  </button>
                  
                </div>
                <div class="row">
                  <div>
                    <small class="text-muted display-inline-block text-muted">
                     
                      <ng-template #resultOutOfRange>
                        <strong data-test="job-type">العمل بالساعه</strong>
                      </ng-template>
                      <ng-template #resultNA>
                        <strong data-test="job-type">القيمه الماليه المتوقعه</strong>
                      </ng-template>
      
                   
                       <span>
                    <!-- - <span data-test="contractor-tier">Intermediate</span> -->
                  </span> <span>
                    -
                    <span>التكلفه: </span> <span data-test="budget">
                
                    </span></span> 
                    <br>
                    <!----> <span>
                      
                  <span data-test="posted-on"><span data-test="UpCRelativeTime"><strong>نشرت هذه الوظيفه منذ</strong> </span></span></span></small> <!----></div>
                </div>
                  <p class="card-text"></p>
                  <div class="" >
                    <!-- <span *ngFor="let item of j.skillsNeededForThisJob">
                    <a  class=" text-muted btn col-2"  href="#" style="background-color: rgb(241, 240, 240); border-radius: 20px;"  >{{item}}</a>
                  </span> -->
                  </div>
                  <div class="row">
                    <span>العروض المقدمه :<span></span></span>
                  </div>
                  <div class="row">
                    <span>نشر بواسطه :<span></span></span>
                  </div>
      
      
                  <div class="row">
                    <div >
                      <span><i class="fa-regular fa-badge-check" style="background-color:#404c68; "></i></span>
                       &nbsp;
                      <small class="text-muted" style="font-size: 14px;"><strong>التقييم</strong></small>
                      &nbsp;
                      <span >
                      <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
                      
                    </span>
                    <span >
                      <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
                      <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
      
                      
                    </span>
                    <span >
                      <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
                      <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
                      <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
      
                      
                    </span>
                    <span >
                      <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
                      <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
                      <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
                      <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
      
                      
                    </span>
                      <span >
                      <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
                      <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
                      <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
                      <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
                      <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
      
                    </span>
                      &nbsp;
                      <small data-test="client-spendings" class="d-inline-block"><strong><span data-test="EarnedAmountFormatted">
                       
                      </span></strong> <span class="text-muted">تم الدفع</span></small>
                      &nbsp;
                      <small data-test="connects-to-apply" class="d-none d-lg-inline-flex d-md-inline-flex text-muted">
                        عدد النقاط المطلوبه:&nbsp;
                        <strong data-test="connect-price"> نقاط</strong></small>
                    </div>
      
                    <div class="col-3">
                 
            
                      </div>
                    </div>
                  </div>
              </div>
          </ng-template>
  
  <!--Dispplay Jobs by Category-->
   
  <ng-template #elseBlock1>
     <div *ngIf="">
      <div class="card" >
        <div >
        <div class="card-body" >
          <div class="row">
          <h5 class="card-title col-10 mt-2" ></h5>
          <button id="btnJob" type="button"class="btnHeart btn-floating" >
            <!-- data-mdb-ripple-color="dark" -->
            
           <!--  <i  class="fa-solid fa-heart"  id="{{'heart'+j.id+ id}}" style="color:#404c68;"></i>-->
          <!--[style.backgroundColor]="checkSavedJob? 'blue': 'transparent'"-->
          <ng-container></ng-container>
          <ng-template #green>
            <i  class="fa-solid fa-heart"   style="color:rgb(77, 209, 77);"></i>
          </ng-template>
          <ng-template #red>
            <i  class="fa-solid fa-heart"   style="color:#404c68;"></i>
          </ng-template>
          </button>
  
        </div>
  
  
        
        <div class="row">
          <div><small class="text-muted display-inline-block text-muted"><strong data-test="job-type">القيمه الماليه المتوقعه</strong> <span>
            <!-- - <span data-test="contractor-tier">Intermediate</span> -->
          </span> <span>
            -
            <span>التكلفه: </span> <span data-test="budget">
           
            </span></span> <!----> <span>
            <span data-test="posted-on"><span data-test="UpCRelativeTime">نشرت منذ</span></span></span></small> <!----></div>
        </div>
          <p class="card-text"></p>
          <div class="up-skill-wrapper">
            <!-- <a  class="up-skill-badge text-muted btn" href="#" tabindex="0" data-test="attr-item" > python</a> -->
          </div>
          <div class="row">
            <span>العروض :<span>عدد العروض المقدمه</span></span>
          </div>
  
  
          <div class="row">
            <div >
              <span><i class="fa-regular fa-badge-check" style="background-color:#404c68;"></i></span>
               &nbsp;
              <strong><small class="text-muted">طريقه الدفع موثوقه</small></strong>
              &nbsp;
              <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
              <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
              <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
              <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
              <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
              &nbsp;
              <small data-test="client-spendings" class="d-inline-block"><strong><span data-test="EarnedAmountFormatted">
                $0
              </span></strong> <span class="text-muted">تم الدفع</span></small>
              &nbsp;
              <small data-test="connects-to-apply" class="d-none d-lg-inline-flex d-md-inline-flex text-muted">
                عدد النقاط المطلوبه:&nbsp;
                <strong data-test="connect-price">4 نقاط</strong></small>
            </div>
            </div>
          </div>
      </div>
     </div>
    </div>
  
  
     
   <ng-template #elseBlock2>
     <div >
      <div class="card" >
        <div >
        <div class="card-body" >
          <div class="row">
          <h5 class="card-title col-10 mt-2"></h5>
          <button type="button" class="btn btn-outline-success btn-floating col-2 " data-mdb-ripple-color="dark" style="border: none; height: 40x; border-radius: 40%; align-items: center;">
            <i class="fa-regular fa-heart"></i></button>
          
        </div>
        <div class="row">
          <div><small class="text-muted display-inline-block text-muted"><strong data-test="job-type">القيمه الماليه المتوقعه</strong> <span>
            <!-- - <span data-test="contractor-tier">Intermediate</span> -->
          </span> <span>
            -
            <span>التكلفه: </span> <span data-test="budget">
            
            </span></span> <!----> <span>
            <span data-test="posted-on"><span data-test="UpCRelativeTime">نشرت منذ</span></span></span></small> <!----></div>
        </div>
          <p class="card-text"></p>
          <div class="up-skill-wrapper">
            <a  class="up-skill-badge text-muted btn" href="#" tabindex="0" data-test="attr-item" > python</a>
          </div>
          <div class="row">
            <span>العروض :<span>عدد العروض المقدمه</span></span>
          </div>
  
  
          <div class="row">
            <div >
              <span><i class="fa-regular fa-badge-check" style="background-color:#404c68;"></i></span>
               &nbsp;
              <strong><small class="text-muted">طريقه الدفع موثوقه</small></strong>
              &nbsp;
              <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
              <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
              <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
              <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
              <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
              &nbsp;
              <small data-test="client-spendings" class="d-inline-block"><strong><span data-test="EarnedAmountFormatted">
                $0
              </span></strong> <span class="text-muted">spent</span></small>
              &nbsp;
              <small data-test="connects-to-apply" class="d-none d-lg-inline-flex d-md-inline-flex text-muted">
                عدد النقاط المطلوبه:&nbsp;
                <strong data-test="connect-price">4 نقاط</strong></small>
            </div>
            </div>
          </div>
      </div>
      </div>
  
      <hr>
     </div>
     </ng-template>
   
  </ng-template>
       </div>
  
  
    </div>
  </div>
  
  
  
     
    
  
  
  
  
      
  
      
  